$def with (message)
$var title: $title - Error
<div class="alert alert-danger">
<p class="lead"><span class="glyphicon glyphicon-exclamation-sign"></span> $message</p>
</div>
<a href="$ctx.homepath"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
