$def with (items)
$var title: $title - Resultado de la consulta

<table class="table table-hover">
<thead>
	<tr>
		<th>$items[0][0]</th>
		<th>$items[0][1]</th>
	</tr>
</thead>
$for k, v in items[1:]:
	<tr>
		<th>$k</th>
		<td>$v</td>
	</tr>
</table>
